<template>
  <div class="border border-gray-200 p-3 rounded-sm mb-4 flex">
      <div class="ml-2">
        <img class="object-cover w-8 h-8 rounded-full ring ring-gray-300 dark:ring-gray-600" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=880&h=880&q=100" alt="">
      </div>
      <div class="w-11/12">
        <form @submit.prevent="onSubmitPost">
          <textarea v-model="content" placeholder="" class="outline-none resize-none border-none w-11/12 pt-2 pb-5 px-3"></textarea>
          <div class="text-right">
            <button v-if="content" @click="create" class="bg-blue-400 px-4 py-1 text-white border font-bold rounded-full">Post</button>
            <button v-else @click="create" class="bg-gray-400 px-4 py-1 text-white border font-bold rounded-full">Post</button>
          </div>
        </form>
      </div>
    </div>
</template>

<script>

export default {
  name: 'create-post-component',
  data() {
    return {
      content: '',
    }
  },
  methods: {
    create() {
      this.$emit('create', this.content)
      this.content = ""
    },
  }
}
</script>