<template>
  <div class="modal" v-if="showModal">
    <div class="modal-content relative inline-block px-4 pt-5 pb-4 overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl dark:bg-gray-900 sm:my-8 sm:w-full sm:max-w-sm sm:p-6 sm:align-middle">
      <h3 class="text-lg font-bold leading-6 text-gray-800 capitalize dark:text-white" id="modal-title">
          投稿を編集する
      </h3>
      <form class="mt-4" action="#">
        <textarea v-model="postContent" class="w-full outline-none resize-none border-none pt-2 pb-5 px-3" name="" id="" cols="30" rows="10"></textarea>
        <div class="mt-4 sm:flex sm:items-center sm:-mx-2">
          <button type="button" @click="closeModal" class="w-full px-4 py-2 text-sm font-bold tracking-wide text-gray-700 capitalize transition-colors duration-300 transform border border-gray-200 rounded-full sm:w-1/2 sm:mx-2 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800 hover:bg-gray-100 focus:outline-none focus:ring focus:ring-gray-300 focus:ring-opacity-40">
              Cancel
          </button>
          <button @click="edit" type="button" class="w-full px-4 py-2 mt-3 text-sm font-bold tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-400 rounded-full sm:mt-0 sm:w-1/2 sm:mx-2 hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40">
              Edit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { apiService } from '@/utils/api'

export default {
  data() {
    return {
      postId: Number,
      postContent: '',
      showModal: false,
    };
  },
  methods: {
    openModal(id, content) {
      this.showModal = true
      this.postId = id
      this.postContent = content
    },
    closeModal() {
      this.showModal = false;
    },
    edit() {
      let endpoint = `post/api/${this.postId}/`
      let method = 'PUT'
      let body = {
        content: this.postContent,
        username: this.$store.state.user.username
      }
      apiService(endpoint, method, body)
      .then(() => {
        console.log('編集が完了しました')
        this.$store.dispatch('setFlashMessage', '編集しました');
        this.$emit('postEditCompleted');
        this.closeModal()
      })
      .catch((error) => {
        console.log("編集に失敗しました", error)
      })

    },
  },
  created() {
  }
};
</script>

<style scoped>
/* モーダルのスタイルをここに追加 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* 他の要素の上に表示 */
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
</style>
