<template>
  <div class="font-sans">
    <div v-if="posts.length > 0">
      <div v-for="post in posts" :key="post.id" class="px-8 pt-3 mb-5 bg-white rounded-sm shadow-md border border-gray-200 dark:bg-gray-800 hover:bg-gray-50">
        <div class="pb-5">
          <div class="flex items-center justify-between">
              <div class="flex items-center">
                <img class="object-cover w-8 h-8 rounded-full ring ring-gray-300 dark:ring-gray-600" src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=880&h=880&q=100" alt="">
                <a class="font-bold ml-4 text-gray-700 cursor-pointer dark:text-gray-200" tabindex="0" role="link">{{ post.username }}</a>
              </div>
              <span class="text-sm font-light text-gray-600 dark:text-gray-400">{{ post.created_at }}</span>
          </div>
          <div class="mt-5 text-left">
              <p class="mt-2 text-gray-600 dark:text-gray-300">
                {{ post.content }}
              </p>
          </div>
        </div>
        <div class="flex justify-between pb-4">
          <div class="flex">
            <!-- リプライ -->
            <button class="mr-3">
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 36 40" style="enable-background:new 0 0 36 32;" xml:space="preserve"><title>comment</title><desc>Created with Sketch.</desc><g><g transform="translate(-537.000000, -768.000000)"><g transform="translate(64.000000, 440.000000)"><path d="M502.2,328h-22.5c-3.7,0-6.8,3-6.8,6.8v24c0,0.5,0.3,0.9,0.8,1.1c0.2,0.1,0.3,0.1,0.5,0.1     c0.3,0,0.6-0.1,0.9-0.4l5.2-4.9h22c3.7,0,6.8-3,6.8-6.8v-13.2C509,331,506,328,502.2,328L502.2,328z M506.5,347.9     c0,2.4-1.9,4.3-4.3,4.3h-22.5c-0.3,0-0.6,0.1-0.9,0.3l-3.4,3.3v-21.1c0-2.4,1.9-4.3,4.3-4.3h22.5c2.4,0,4.3,1.9,4.3,4.3V347.9z      M499.5,337.1h-16.4c-0.6,0-1.1,0.5-1.1,1.1s0.5,1.1,1.1,1.1h16.4c0.6,0,1.1-0.5,1.1-1.1S500.2,337.1,499.5,337.1z M492.2,343.6     h-9c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1h9c0.4,0,0.8-0.2,1-0.6c0.2-0.4,0.2-0.8,0-1.1     C493,343.8,492.6,343.6,492.2,343.6L492.2,343.6z"/></g></g></g></svg>
            </button>
            <!-- いいね -->
            <button>
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 80" style="enable-background:new 0 0 64 64;" xml:space="preserve"><path d="M56.66,10.23C49.91,3.61,39.14,3.29,32,9.26C28.72,6.5,24.58,5,20.21,5c-4.86,0-9.43,1.86-12.87,5.23  C3.9,13.62,2,18.12,2,22.91c0,4.79,1.9,9.3,5.34,12.68L30.6,58.43C30.99,58.81,31.5,59,32,59s1.01-0.19,1.4-0.57L56.66,35.6  C60.1,32.21,62,27.71,62,22.91C62,18.12,60.1,13.61,56.66,10.23z M53.86,32.74L32,54.2L10.15,32.74C7.47,30.12,6,26.63,6,22.91  c0-3.71,1.47-7.2,4.15-9.83C12.83,10.45,16.4,9,20.21,9s7.38,1.45,10.06,4.09l0.33,0.32c0.78,0.76,2.02,0.76,2.8,0l0.33-0.32  c5.55-5.45,14.58-5.45,20.13,0C56.53,15.71,58,19.2,58,22.91S56.53,30.12,53.86,32.74z"/></svg>
            </button>
          </div>
          <div v-if="post.username  == this.$store.state.user.username" class="flex">
            <!-- 投稿編集 -->
            <button @click="openEditModal(post.id, post.content)" class="mr-3">
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 40" enable-background="new 0 0 32 32" xml:space="preserve"><path d="M24.671,23.3c0,1.447-1.178,2.623-2.625,2.623H8.7c-1.446,0-2.623-1.176-2.623-2.623V9.954c0-1.447,1.177-2.624,2.623-2.624  h4.131v-3H8.7c-3.101,0-5.623,2.522-5.623,5.624V23.3c0,3.102,2.522,5.623,5.623,5.623h13.346c3.102,0,5.625-2.521,5.625-5.623  v-4.133h-3V23.3z"/><path d="M28.483,7.233l-3.717-3.717c-0.586-0.586-1.535-0.586-2.121,0L12.435,13.729c-0.19,0.189-0.326,0.427-0.393,0.687  l-1.289,5.006c-0.133,0.514,0.017,1.06,0.393,1.435c0.284,0.285,0.668,0.439,1.061,0.439c0.124,0,0.25-0.016,0.373-0.048  l5.006-1.289c0.26-0.066,0.497-0.202,0.687-0.393L28.483,9.354c0.281-0.281,0.439-0.662,0.439-1.061S28.765,7.515,28.483,7.233z   M16.44,17.155l-2.148,0.553l0.553-2.148l8.861-8.861l1.596,1.596L16.44,17.155z"/></svg>
            </button>
            <EditPostModal ref="editPostModal" @postEditCompleted="handlePostEditCompleted"></EditPostModal>
            <!-- 投稿削除 -->
            <button @click="openDeleteModal(post.id)">
              <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 80" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><path d="M27,52.09c1.1,0,2-0.9,2-2V30.27c0-1.1-0.9-2-2-2s-2,0.9-2,2v19.82C25,51.19,25.9,52.09,27,52.09z"/><path d="M37,52.09c1.1,0,2-0.9,2-2V30.27c0-1.1-0.9-2-2-2s-2,0.9-2,2v19.82C35,51.19,35.9,52.09,37,52.09z"/><path d="M53,9.93h-9.5V6c0-2.21-1.79-4-4-4h-15c-2.21,0-4,1.79-4,4v3.93H11c-2.21,0-4,1.79-4,4v5.91c0,2.21,1.79,4,4,4h3V58   c0,2.21,1.79,4,4,4h28c2.21,0,4-1.79,4-4V23.84h3c2.21,0,4-1.79,4-4v-5.91C57,11.72,55.21,9.93,53,9.93z M24.5,6h15v3.93h-15V6z    M46,58H18V23.84h28V58z M11,19.84v-5.91h42l0,5.91H11z"/></g></svg>
            </button>
            <DeletePostModal ref="deletePostModal" @postDeleteCompleted="handlePostDeleteCompleted"></DeletePostModal>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p class="mt-5">対象の投稿がありません</p>
    </div>
  </div>
</template>

<script>
import { apiService } from '@/utils/api'
import EditPostModal from '@/components/EditPostModal.vue'
import DeletePostModal from '@/components/DeletePostModal.vue'

export default {
  props: {
    posts: Array, //親コンポーネントから受け取る投稿データの配列
  },
  data() {
    return {
      content: '',
    }
  },
  components: {
    EditPostModal,
    DeletePostModal,
  },
  methods : {
    onClickDelete(postId) {
      const confirmed = window.confirm('この投稿を削除してもよろしいですか？');
      if (confirmed) {
        console.log(this)
        let endpoint = `post/api/${postId}`
        let method = 'DELETE'
        apiService(endpoint, method)
        .then(() => {
          console.log('削除が完了しました')
          this.$emit('postDeleted');
        })
        .catch((error) => {
          console.log('削除に失敗しました', error)
        })
      }
    },
    // editPostModalで編集が完了した際にHome.vueのgetPostsを呼び出すために、イベント発火を行う
    handlePostEditCompleted() {
      this.$emit('postEditCompleted');
    },
    // deletePostModalで削除が完了した際にHome.vueのgetPostsを呼び出すために、イベント発火を行う
    handlePostDeleteCompleted() {
      console.log("通過")
      this.$emit('postDeleteCompleted');
    },
    // 投稿編集用モーダル
    openEditModal(id, content) {
      this.$refs.editPostModal[0].openModal(id, content);
    },
    // 投稿削除用モーダル
    openDeleteModal(id) {
      this.$refs.deletePostModal[0].openModal(id)
    }
  },
}
</script>

<style>


</style>