<template>
  <div v-if="flashMessage" class="flash-message">
    {{ flashMessage }}
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(['flashMessage']),
  },
};
</script>

<style>
.flash-message {
  position: fixed;
  width: 40%;
  color: white;
  background-color: rgb(29, 155, 240);
  padding: 15px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  opacity: 1.0;
  font-weight: bold;
  top: 40px; /* 上部からの距離 */
  left: 50%; /* 左側からの距離 */
  transform: translateX(-50%); /* 中央に配置 */
  z-index: 1000; /* 他の要素の上に表示 */
}
</style>
