<template>
  <div class="grid md:grid-cols-12 gap-2">
    <ShowMessage></ShowMessage>
    <div class="col-span-2"></div>
    <div class="col-span-2 py-4 border-r-2 h-full">
      <ul class="text-center">
        <li>
          <button class="text-xl font-sans py-4 px-10 rounded-full hover:bg-zinc-100 hover:font-bold">Home</button>
        </li>
        <li>
          <button class="text-xl font-sans py-4 px-10 rounded-full hover:bg-zinc-100 hover:font-bold">Explore</button>
        </li>
        <li>
          <button class="text-xl font-sans py-4 px-10 rounded-full hover:bg-zinc-100 hover:font-bold">Notifications</button>
        </li>
        <li>
          <button class="text-xl font-sans py-4 px-10 rounded-full hover:bg-zinc-100 hover:font-bold">Message</button>
        </li>
        <li>
          <button class="text-xl font-sans py-4 px-10 rounded-full hover:bg-zinc-100 hover:font-bold">Profile</button>
        </li>
        <li>
          <button @click="logout" class="text-xl font-sans py-4 px-10 rounded-full hover:bg-zinc-100 hover:font-bold">Logout</button>
        </li>
      </ul>
      <button @click="openCreateModal" class="bg-blue-400 mt-5 px-14 py-4 text-white border font-bold text-xl rounded-full hover:font-bold hover:bg-blue-500">Post</button>
      <CreatePostModal ref="createPostModal" @create="handleCreate"></CreatePostModal>
    </div>
    <div class="col-span-4 px-4">
      <CreatePost @create="handleCreate"></CreatePost>
      <ListPost :posts="posts" @postEditCompleted="getPosts" @postDeleteCompleted="getPosts"></ListPost>
    </div>
    <div class="col-span-2 py-4 border-l-2 h-full">
      <SearchPost @search="handleSearch"></SearchPost>
    </div>
    <div class="col-span-2"></div>
  </div>
</template>
<script>
import ListPost from '@/components/ListPost.vue'
import CreatePost from '@/components/CreatePost.vue'
import SearchPost from '@/components/SearchPost.vue'
import CreatePostModal from '@/components/CreatePostModal.vue'
import ShowMessage from '@/components/ShowMessage.vue'
import { apiService } from '@/utils/api'

export default {
  components: {
    SearchPost,
    ListPost,
    CreatePost,
    CreatePostModal,
    ShowMessage
  },
  name: 'home-component',
  data() {
    return {
      posts: [],
    }
  },
  methods: {
    // 検索
    handleSearch(searchWord) {
      let endpoint = 'post/api/list/'
      let method = 'GET'
      let params = {
        search: searchWord
      }
      apiService(endpoint, method, null, params)
      .then(data => {
        this.posts = []
        this.posts.push(...data)
      })
      .catch(error => {
        console.log(error)
      })
    },
    // 投稿作成
    handleCreate(content) {
      let endpoint = 'post/api/add/'
      let method = 'POST'
      let body = {
        content: content,
        username: this.$store.state.user.username
      }
      apiService(endpoint, method, body)
      .then(() => {
        this.getPosts()
      })
    },
    // ログアウト
    logout() {
      this.$store.dispatch('setFlashMessage', 'ログアウトしました');
      this.$store.dispatch('setIsAuthenticated', false);
      this.$router.push('/')
    },
    // 投稿一覧取得
    getPosts() {
      let endpoint = `post/api/list`
      apiService(endpoint)
      .then(data => {
        this.posts = []
        this.posts.push(...data)
      })
    },
    // 投稿登録用モーダル
    openCreateModal() {
      this.$refs.createPostModal.openModal();
    },
  },
  created(){
    this.getPosts()
  }
}
</script>

