<template>
<div class="bg-white dark:bg-gray-900">
    <div class="flex justify-center h-3/6">
        <ShowMessage></ShowMessage>
        <div class="flex items-center w-full max-w-md px-6 mx-auto">
            <div class="flex-1">
                <div class="text-center">
                    <!-- <div class="flex justify-center mx-auto">
                        <img class="w-auto h-7 sm:h-8" src="https://merakiui.com/images/logo.svg" alt="">
                    </div> -->

                    <p class="mt-3 text-gray-500 dark:text-gray-300">Monolog</p>
                </div>

                <div class="mt-8">
                    <form>
                        <div>
                          <div class="flex justify-between">
                            <label for="password" class="text-sm text-gray-600 dark:text-gray-200">ユーザー名</label>
                          </div>
                            <input v-model="username" type="text" id="username" placeholder="ユーザー名" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                        </div>

                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600 dark:text-gray-200">パスワード</label>
                                <a href="#" class="text-sm text-gray-400 focus:text-blue-500 hover:text-blue-500 hover:underline">パスワードを忘れましたか？</a>
                            </div>

                            <input v-model="password" type="password" name="password" id="password" placeholder="Your Password" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                        </div>

                        <div class="mt-6">
                            <button @click.prevent="onSubmitLogin" class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                                ログイン
                            </button>
                        </div>

                    </form>

                    <p class="mt-6 text-sm text-center text-gray-400">新規登録は<a href="#" class="text-blue-500 focus:outline-none focus:underline hover:underline">こちら</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import Cookies from "js-cookie";
import { loginApi } from '@/utils/api';
import ShowMessage from "@/components/ShowMessage.vue";
export default {
  components: {
    ShowMessage,
  },
  name: 'login-component',
  data() {
    return {
      username: '',
      password: '',
      errors: []

    }
  },
  methods: {
    onSubmitLogin() {
      // validationチェック
      this.errors = []
      if (!this.username) {
        this.errors.push('ユーザー名を入力してください')
      }
      if (!this.password) {
        this.errors.push('パスワードを入力してください')
      }
      if (this.errors.length > 0) {
        return
      }
      let endpoint = 'account/api/token/'
      let methods = 'POST'
      loginApi(endpoint, methods, {
        username: this.username,
        password: this.password,
      })
      .then(response => {
        if (response.status == 200) {
          const user = {
            username: this.username
          }
          this.$store.dispatch('setUser', user)
          return response.json()
        } else {
          this.errors.push('ログインIDかパスワードが違います')
          // this.$store.dispatch('setFlashMessage', 'ログインIDかパスワードが違います');
        }
      })
      .then(data => {
        const access_token = data.access
        const refresh_token = data.refresh
        const headers = new Headers()
        headers.append('Authorization', `Bearer ${access_token}`)
        Cookies.set('access_token', access_token, { expires: 1 }) // 有効期限1日
        Cookies.set('refresh_token', refresh_token, { expires: 30 }) // 有効期限30日
        this.$store.dispatch('setIsAuthenticated', true);
        this.$router.push('/home')
      })
    }
  },
  created() {

    document.title = 'Login'
  },
  computed : {
    getIsAuthenticated() {
      return this.$store.state.isAuthenticated
    }
  },
}
</script>